  <ul>
    <li class="nav-links">
      <button id="backBtn" (click)="back()">
      </button>
      
      <app-search-bar></app-search-bar>
    </li>

    <li class="toggle-icons">
      <button id="mapView" (click)="setDisplayComp(false)">
        <img src="../../../../assets/images/map2.svg" alt="icon of a map">
      </button>
      <button id="listView" (click)="setDisplayComp(true)">
        <img src="../../../../assets/images/ViewList.svg" alt="icon of a list">
      </button>
    </li>
  </ul>
