ul {
  background-color: #C2EEFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: solid black 1px;
  padding: 10px 0px;

  .nav-links {
    display: flex;
    flex-direction: row;

    #backBtn {
      width: 32px;
      background: url("../../../../assets/images/BackIcon.svg") no-repeat;
      border: none;
      margin-top: 3px;
    }
  }

  li {

    #mapView {
      background-color: transparent;
      border: none;
    }

    #listView {
      background-color: transparent;
      border: none;
    }
  }

  li {

    img {
      width: 24px;
      margin-right: 10px;
    }
  }

}